ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
  border: 1.5px solid #555;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.backgroundrq {
  background-color: gray;
  color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.logo2 {
  cursor: pointer;
}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li {
  text-align: center;
  border-bottom: 0px solid #555;
  border-top: 0px solid #555;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  left: 10%;
}

.card-holder {
  width: 168px;
  height: 204px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px;
  color: black;
}

.basimg1 {
  border-radius: 10px;
  height: 80px;
}
.backgroundrw {
  background-color: #f1f1f1;
  color: #000;
}
.basimg {
  border-radius: 10px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
}

li:last-child {
  border-bottom: none;
}
